<div class="row">

    <form action="/admin/generate-fake-posts" method="post">
        <h1>Create Porsts</h1>
        <div class="form-group">
        <input type="number" name="amount" class="">
        </div>
        <button type="submit">Create</button>
    </form>

</div>