<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">owner</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>

    {{#each comments}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{user}}</td>
        <td>{{generateDate date 'MMMM Do YYYY'}}</td>
        <td>
            <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">
                    Delete
                </button>
            </form>
        </td>

    </tr>
    {{/each}}

    </tbody>
</table>